<button class="btn btn-primary" ng-click="showImage=!showImage">Show/Hide Image</button>
<div ng-if="showImage">
	<img ng-src="img/agilecode.png"/>
</div>
<div class="jumbotron">
	<h4>{{ app }}</h4>
	<input 
		type="text" 
		class="form-control btn-search" 
		ng-model="criterioDeBusca" 
		ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }" 
		placeholder="O que você está buscando?">
	<table ng-show="contatos.length > 0" class="table">
		<tr>
			<th></th>
			<th>Serial</th>
			<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
			<th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
			<th>Operadora</th>
			<th>Preço</th>
			<th>Data</th>
		</tr>
		<tr ng-class="{ 'selecionado negrito': contato.selecionado }" 
			ng-repeat="contato in contatos | filter: { nome: criterioDeBusca } | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao track by contato.id">
			<td><input type="checkbox" ng-model="contato.selecionado" ng-click="checkContatoSelecionado(contatos)"></td>
			<td>{{ ::contato.serial || serialGenerator.generate() }}</td>
			<td><a href="#/detalhes-contato/{{ contato.id }}">{{ ::contato.nome | name }}</a></td>
			<td>{{ ::contato.telefone }}</td>
			<td>{{ ::contato.operadora.nome | lowercase }}</td>
			<td>{{ ::contato.operadora.precoComImposto | currency }}</td>
			<td>{{ ::contato.data | date:'dd/MM/yyyy HH:mm' }}</td>
		</tr>
	</table>
	<a href="#/novo-contato" class="btn btn-primary btn-block">Novo Contato</a>
	<button class="btn btn-danger btn-block" ng-click="apagar(contatos)" ng-if="hasContatoSelecionado">Apagar</button>
</div>
